body {
    background-color: #0e0e0e;
}

.wrapper {
margin-top: 40px;
}

.wrapper__main {
    margin: auto;
    width: 440px;
}

 .calc__result {
    overflow-y: auto;
     color: white;
     width: 100%;
     padding-right: 20px;
     font-size: 50px;
     background-color: #272222;
 }

 .content {
     display: flex;
 }

.wrapper__section {
    background-color: #272222;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

 .wrapper__section .bt {
     background-color: #343134;
     color: white;
     width: 100px;
     font-size: 30px;
     padding: 24px;
     margin: 5px;
     border-radius: 50%;
     border: 0;
     transition-duration: 0.3s;
    }

    .bt:hover {
        box-shadow: 0px 0px 100px rgb(40, 187, 21);
        outline: 1px solid rgb(40, 187, 21);
        cursor: pointer;
        transform: scale(1.1);     
    }

 .cm {
    background-color: #f09129;
    color: white;
    width: 100px;
    font-size: 40px;
    padding: 20px;
    margin: 5px;
    border-radius: 50%;
    border: 0;
    transition-duration: 0.3s;
}
    .cm:hover {
        box-shadow: 0px 0px 100px rgb(206, 1, 53);
        outline: 1px solid rgb(206, 1, 53);
        cursor: pointer;
        transform: scale(1.1);     
}

.cm__two {
    background-color: #a7a7a7;
    color: black;
    width: 100px;
     font-size: 40px;
     padding: 20px;
     margin: 5px;
     border-radius: 50%;
     border: 0;
     transition-duration: 0.3s;
}
.cm__two:hover {
    box-shadow: 0px 0px 100px rgb(26, 22, 235);
    outline: 1px solid rgb(9, 24, 223);
    cursor: pointer;
    transform: scale(1.1);     
}

.cm__three {
    background-color: #d9ab12;
    color: black;
    width: 100px;
     font-size: 30px;
     padding: 25px;
     margin: 5px;
     border-radius: 50%;
     border: 0;
     transition-duration: 0.3s;
}
.cm__three:hover {
    box-shadow: 0px 0px 100px #f7f305;
    outline: 1px solid #f7f305;
    cursor: pointer;
    transform: scale(1.1);     
}

 .enter {
    background-color: #ff940f;
    color: white;
    font-size: 40px;
    margin: 5px;
    width: 210px;
    padding: 0px;
    border: 0;
    transition-duration: 0.3s;
  }
  .enter:hover {
    box-shadow: 0px 0px 100px rgb(206, 1, 53);
    outline: 1px solid rgb(206, 1, 53);
    cursor: pointer;
    transform: scale(1.1);     
}